*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
testConfig.properties
.kotlin
cache
app/src/androidTest/native-libs
/kls_database.db
/app/debug
/app/release
/app/play